
#map-view header {
    height: 10vh;
    min-height: 5em;
    background-color: #4C6653;
    display: flex;
    justify-content: space-between;
}

#map-view header img {
    height: 100%;
}

#map-view header h3 {
    display: inline-block;
}

#map {
    height: 90vh;
}

#map-view #search {
    
}